<nav>
  <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bolder;">E-CART</h1>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars fa-lg"></i>
  </label>
  <ul *ngIf="userShow">
      <li><a routerLink="userhome" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Feedback</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a  routerLinkActive="active" (click)="Logout()">LogOut</a></li>
      </ul>
      <ul *ngIf="loginshow">
        <li><a routerLink="login" routerLinkActive="active">Login</a></li>
      </ul>
     <ul *ngIf="adminshow">
      <li><a routerLink="/admindashboard" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/usermanage" routerLinkActive="active">User Manage</a></li>
      <li><a routerLink="/productmanage" routerLinkActive="active">Product Manage</a></li>
  <li><a (click)="Logout()">Log Out</a></li>
</ul>
</nav>
<section>
</section>
<router-outlet></router-outlet>